bin/Debug/net8.0/allure-results
bin/Debug/net8.0/allure-report
allure-report
.mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/*/values.xml
.mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/*_*/values.xml
.mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/79668_133551858030563910/values.xml
obj/Debug/net8.0/selenium_tests.*
