
bin/Debug/net8.0/allure-report
allure-report

.mono/*

obj/Debug/net8.0/**.dll

.mono/registry/CurrentUser/software/microsoft/csdevkit/telemetry/persistentpropertybag/microsoft.visualstudio.code.servicehost/values.xml
.mono/registry/CurrentUser/software/microsoft/csdevkit/v1/pids/79668_133551858030563910/values.xml
bin/Debug/net8.0/nunit_random_seed.tmp
obj/Debug/net8.0/selenium_tests.AssemblyInfo.cs
obj/Debug/net8.0/selenium_tests.AssemblyInfoInputs.cache
obj/Debug/net8.0/selenium_tests.dll
obj/Debug/net8.0/selenium_tests.pdb
obj/Debug/net8.0/selenium_tests.sourcelink.json
obj/Debug/net8.0/ref/selenium_tests.dll
obj/Debug/net8.0/refint/selenium_tests.dll
